<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-4 col-custom">
        <input matInput
               readonly
               [min]="filter.min"
               (dateChange)="filterChange($event)"
               [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
      </div>
      <div class="col-sm-4 col-custom">
        <label for="number">Engineers: &nbsp;</label>
        <input id="number" [(ngModel)]="filter.n_person" type="number" min="10" max="50" (ngModelChange)="personsChange()" >
      </div>
      <div class="col-sm-4 col-custom">
        <label for="number">Days: &nbsp;</label>
        <input id="number" [(ngModel)]="filter.days" type="number" min="14" max="30" (ngModelChange)="personsChange()" >
      </div>
    </div>
  </div>
  <div class="page-content">
    <table class="table text-center">
      <thead>
      <tr>
        <th>Date</th>
        <th>First Shift</th>
        <th>Second Shift</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let sch of schedule">
        <td>{{sch.date}}</td>
        <td>{{sch.day_shift_engineer.name}}</td>
        <td>{{sch.night_shift_engineer.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
